.step-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: left;
}

.spotify-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}

mat-form-field {
  width: 100%;
  --mat-form-field-floating-label-text-color: #b3b3b3;
  --mat-form-field-subscript-text-color: #b3b3b3;
  --mat-form-field-focus-state-layer-color: var(--color-secondary);
  --mat-form-field-hover-state-layer-color: var(--color-secondary);
  --mat-form-field-container-text-color: #ffffff;
  --mat-form-field-outline-color: #727272;
  --mat-form-field-focus-outline-color: #ffffff;
}
.mat-mdc-form-field-has-a::before {
  border-color: #727272 !important;
}


.link {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
  display: block;
  margin-top: -10px;
  margin-bottom: 1rem;
}
.link:hover {
  text-decoration: underline;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;
  color: #b3b3b3;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #727272;
}
.separator::before { margin-right: 0.5em; }
.separator::after { margin-left: 0.5em; }

button[mat-stroked-button] {
  width: 100%;
  padding: 1.25rem 0;
  font-size: 0.95rem;
  font-weight: 700;
  color: #fff;
  border-color: #727272;
  background-color: transparent; /* CAMBIO: Fondo transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 500px;
}
button[mat-stroked-button]:hover {
  border-color: #fff;
  background-color: #282828;
}
.google-logo {
  width: 20px;
  height: 20px;
}