.search-container {
  padding: 24px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.search-hint {
  font-size: 0.9rem;
  color: #b3b3b3;
  margin-bottom: 20px;
}

.search-bar {
  width: 100%;
  max-width: 600px;
}

.results-container {
  margin-top: 30px;
}

.user-results-section h3 {
    margin-bottom: 10px;
    color: #4CAF50;
    font-size: 1.2rem;
}

.divider {
    border-top: 1px solid #333;
    margin: 20px 0;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px;
}

.song-result-item, .user-result-item {
  background-color: #181818;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-height: 72px
}

.song-result-item:hover, .user-result-item:hover {
  background-color: #282828;
}

.song-title, .user-name {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}

.song-artist, .user-username {
  font-size: 0.9rem;
  color: #b3b3b3;
  margin: 4px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-results {
  color: #b3b3b3;
  text-align: center;
  margin-top: 40px;
}