:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem 0;
  background: radial-gradient(circle at 80% 50%, #003153 0%, #000000 60%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
}

.wizard-container {
  color: #ffffff;
  padding: 20px 40px;
  width: 450px;
  max-width: 90%;
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

.wizard-logo {
  margin-bottom: 2.5rem; 
  text-align: center;
}

.wizard-logo img {
  max-width: 300px; 
  height: auto;
  filter: drop-shadow(0 0 5px rgba(0, 123, 255, 0.5)); 
}


.wizard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.link-salir {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
}
.link-salir:hover {
  text-decoration: underline;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: #555;
  border-radius: 2px;
  margin-bottom: 2rem;
}

.progress {
  height: 100%;
  width: 25%;
  background-color: var(--color-secondary);
  border-radius: 2px;
  transition: width 0.3s ease;
}

.wizard-content {
  min-height: 250px;
}

.wizard-actions {
  text-align: right;
  margin-top: 2rem;
}

button[mat-raised-button] {
  width: 120px;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--color-secondary);
  color: #ffffff;
  border-radius: 500px;
}
button[mat-raised-button]:hover {
  transform: scale(1.04);
  background-color: #0069d9;
}
button[mat-button] {
  color: #fff;
  font-weight: 700;
  background-color: transparent;
  padding: 0;
  min-width: unset;
}
button[mat-button]:hover {
  text-decoration: underline;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}