.step-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: left;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.terms-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

mat-checkbox {
  color: #b3b3b3;
  font-size: 0.9rem;
}

.divider {
  border-bottom: 1px solid #727272;
  margin: 0.5rem 0;
}

.terms-text {
  color: #b3b3b3;
  font-size: 0.8rem;
  line-height: 1.4;
  margin: 0;
}

.link {
  color: #ffffff;
  text-decoration: underline;
}
.link:hover {
  color: var(--color-secondary);
}