.step-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: left;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

mat-form-field {
  width: 100%;
  --mat-form-field-floating-label-text-color: #ffffff;
  --mat-form-field-subscript-text-color: #ffffff;
  --mat-form-field-focus-state-layer-color: var(--color-secondary);
  --mat-form-field-hover-state-layer-color: var(--color-secondary);
  --mat-form-field-container-text-color: #ffffff;
  --mat-form-field-outline-color: #727272;
  --mat-form-field-focus-outline-color: #ffffff;
}

.mat-mdc-icon-button {
  color: #b3b3b3;
}

mat-list {
  padding-top: 0;
}

mat-list-item {
  color: #ffffff;
  font-size: 0.9rem;
  height: 32px !important;
}

mat-list-item mat-icon {
  color: #ffffff;
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-right: 12px !important;
  transition: color 0.3s ease;
}

mat-list-item.valid {
  color: var(--color-secondary);
}

mat-list-item.valid mat-icon {
  color: var(--color-secondary);
}