.home-container {
  padding: 24px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.song-card {
  width: 100%;
  height: 100%;
  background-color: #181818;
  border-radius: 8px;
  overflow: hidden;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
}

.song-card:hover {
  background-color: #282828;
}

.song-cover {
  width: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
}

.song-card mat-card-content {
  padding: 0 16px 16px 16px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-info {
  flex-grow: 1;
  cursor: pointer;
  min-width: 0;
}

.song-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-artist {
  font-size: 0.9rem;
  color: #b3b3b3;
  margin: 4px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorite-button {
  flex-shrink: 0;
  color: #b3b3b3;
}

.favorite-button mat-icon.is-favorite {
  color: #4CAF50;
}

.suggestions-list {
  max-width: 600px;
}

.suggestions-list .mat-list-item-content {
  background-color: #181818;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 10px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.user-name {
  color: #ffffff;
  font-weight: 600;
}

.user-username {
  color: #b3b3bD;
}
.suggestions-list .mat-list-item-content {
    /* Esto es lo que permite que el texto y el botón se separen */
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.user-info-text {
    flex-grow: 1; /* Permite que el texto crezca y el botón se quede a la derecha */
    min-width: 0;
    margin-right: 16px;
}