<div class="onboarding-container">
  <div class="logo-container">
    <img src="assets/logo-syncup.png" alt="SyncUp Logo" class="logo">
  </div>

  <div class="wizard-content" [ngSwitch]="currentStep">
    <app-step-artists 
        *ngSwitchCase="1"
        (formValidity)="onStepValidityChange($event)"
        (selectionChange)="onArtistsChange($event)">
    </app-step-artists>
    
    <app-step-genres 
        *ngSwitchCase="2"
        (formValidity)="onStepValidityChange($event)"
        (selectionChange)="onGenresChange($event)">
    </app-step-genres>
  </div>

  <div class="wizard-actions">
    <button 
        mat-raised-button 
        *ngIf="currentStep === 1" 
        (click)="nextStep()"
        [disabled]="!isStepValid">
      Siguiente
    </button>
    <button 
        mat-raised-button 
        *ngIf="currentStep === 2" 
        (click)="finishOnboarding()"
        [disabled]="!isStepValid">
      Finalizar
    </button>
  </div>
</div>